In [2]:
import pandas as pd # Importa la librería pandas y le asigna el alias 'pd'. Pandas es fundamental para trabajar con datos tabulares (como hojas de cálculo o bases de datos) en Python.

# Define las URLs (direcciones web) de los archivos CSV de cada tienda.
# Cada URL apunta a un archivo CSV específico en un repositorio de GitHub.
url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

# Carga el archivo CSV de la Tienda 1 en un DataFrame de pandas.
# Un DataFrame es como una tabla en Excel o una base de datos, con filas y columnas.
# `pd.read_csv()` es la función que lee el contenido de un archivo CSV desde la URL proporcionada.
tienda_1 = pd.read_csv(url)

# Carga el archivo CSV de la Tienda 2 en un DataFrame.
tienda_2 = pd.read_csv(url2)

# Carga el archivo CSV de la Tienda 3 en un DataFrame.
tienda_3 = pd.read_csv(url3)

# Carga el archivo CSV de la Tienda 4 en un DataFrame.
tienda_4 = pd.read_csv(url4)

# 1. Análisis de facturación

In [14]:
# Muestra las primeras 5 filas del DataFrame de la Tienda 1 para una inspección rápida.
# Esto te permite ver cómo son los datos y qué columnas contiene.
print("Primeras filas de Tienda 1:")
tienda_1.head()

# Muestra información concisa sobre el DataFrame de la Tienda 1.
# Esto incluye el número de entradas (filas), columnas, tipos de datos de cada columna y uso de memoria.
# Es muy útil para verificar si hay valores nulos o si los tipos de datos son los esperados.
# print("\nInformación del DataFrame Tienda 1:")
# tienda_1.info()

Primeras filas de Tienda 1:

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

In [15]:
print("\nInformación del DataFrame Tienda 1:")
tienda_1.info()

Información del DataFrame Tienda 1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

In [16]:
# Repetimos para las otras tiendas para asegurarnos de que todos los datos se cargaron correctamente.
print("\nPrimeras filas de Tienda 2:")
tienda_2.head()

Primeras filas de Tienda 2:

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Silla de oficina,Muebles,283600.0,15300.0,04/08/2021,Izabela de León,Medellín,1,Nequi,1,6.25184,-75.56359
1,Pandereta,Instrumentos musicales,76800.0,2300.0,26/11/2020,Blanca Ramirez,Medellín,3,Tarjeta de crédito,4,6.25184,-75.56359
2,Cama king,Muebles,443300.0,23800.0,22/10/2021,Izabela de León,Pereira,5,Tarjeta de crédito,10,4.81333,-75.69611
3,Cama king,Muebles,906200.0,46400.0,04/05/2022,Maria Alfonso,Cali,5,Tarjeta de crédito,10,3.43722,-76.52250
4,Silla de oficina,Muebles,397800.0,19400.0,26/02/2022,Lucas Olivera,Bogotá,4,Tarjeta de crédito,3,4.60971,-74.08175

In [17]:
print("\nInformación del DataFrame Tienda 2:")
tienda_2.info()

Información del DataFrame Tienda 2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

In [18]:
print("\nPrimeras filas de Tienda 3:")
tienda_3.head()

Primeras filas de Tienda 3:

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Secadora de ropa,Electrodomésticos,1285100.0,66600.0,17/12/2021,Camila Rivera,Santa Marta,4,Tarjeta de crédito,4,11.24079,-74.19904
1,Mesa de noche,Muebles,290100.0,13600.0,10/02/2021,Maria Alfonso,Cali,3,Tarjeta de crédito,1,3.43722,-76.52250
2,Guitarra acústica,Instrumentos musicales,303500.0,17400.0,22/01/2023,Lucas Olivera,Bogotá,5,Tarjeta de crédito,3,4.60971,-74.08175
3,Balón de voleibol,Deportes y diversión,58800.0,3300.0,22/03/2022,Pedro Gomez,Barranquilla,4,Tarjeta de crédito,6,10.96854,-74.78132
4,Armario,Muebles,521100.0,25900.0,12/01/2022,Blanca Ramirez,Bogotá,1,Tarjeta de crédito,1,4.60971,-74.08175

In [19]:
print("\nInformación del DataFrame Tienda 3:")
tienda_3.info()

Información del DataFrame Tienda 3:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

In [20]:
print("\nPrimeras filas de Tienda 4:")
tienda_4.head()

Primeras filas de Tienda 4:

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Lavavajillas,Electrodomésticos,1084800.0,56000.0,11/11/2022,Rafael Acosta,Bogotá,4,Tarjeta de crédito,3,4.60971,-74.08175
1,Cama box,Muebles,473800.0,25400.0,03/01/2020,Izabela de León,Cúcuta,5,Tarjeta de crédito,2,7.89391,-72.50782
2,Balón de baloncesto,Deportes y diversión,23700.0,0.0,25/12/2022,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359
3,Modelado predictivo,Libros,57700.0,1300.0,23/11/2021,Lucas Olivera,Medellín,3,Nequi,1,6.25184,-75.56359
4,Auriculares,Electrónicos,138900.0,5600.0,25/04/2022,Blanca Ramirez,Bogotá,4,Tarjeta de crédito,7,4.60971,-74.08175

In [21]:
print("\nInformación del DataFrame Tienda 4:")
tienda_4.info()

Información del DataFrame Tienda 4:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2358 entries, 0 to 2357
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2358 non-null   object
 1   Categoría del Producto  2358 non-null   object
 2   Precio                  2358 non-null   float64
 3   Costo de envío          2358 non-null   float64
 4   Fecha de Compra         2358 non-null   object
 5   Vendedor                2358 non-null   object
 6   Lugar de Compra         2358 non-null   object
 7   Calificación            2358 non-null   int64
 8   Método de pago          2358 non-null   object
 9   Cantidad de cuotas      2358 non-null   int64
 10  lat                     2358 non-null   float64
 11  lon                     2358 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.2+ KB

¡Excelente! Gracias por compartir la salida de head() y info() para todas las tiendas. Esto confirma que los datos se cargaron correctamente y que todas las columnas tienen valores no nulos, lo cual es una muy buena señal para nuestro análisis.

Ahora, pasemos al primer análisis requerido: calcular el ingreso total de cada tienda.

Para esto, necesitamos sumar los valores de la columna 'Precio' de cada DataFrame.

Aquí tienes el código con los comentarios explicativos:

In [22]:
# --- 1. Análisis de Facturación (Ingreso Total) ---

print("\n--- Calculando Ingresos Totales por Tienda ---")

# Calcula el ingreso total para la Tienda 1.
# Seleccionamos la columna 'Precio' del DataFrame 'tienda_1' y usamos el método '.sum()'.
# '.sum()' suma todos los valores numéricos de la columna seleccionada.
ingreso_total_tienda_1 = tienda_1['Precio'].sum()
print(f"El ingreso total de la Tienda 1 es: ${ingreso_total_tienda_1:,.2f}") # Imprime el resultado, formateando el número para que sea más legible con comas y 2 decimales.

# Calcula el ingreso total para la Tienda 2.
ingreso_total_tienda_2 = tienda_2['Precio'].sum()
print(f"El ingreso total de la Tienda 2 es: ${ingreso_total_tienda_2:,.2f}")

# Calcula el ingreso total para la Tienda 3.
ingreso_total_tienda_3 = tienda_3['Precio'].sum()
print(f"El ingreso total de la Tienda 3 es: ${ingreso_total_tienda_3:,.2f}")

# Calcula el ingreso total para la Tienda 4.
ingreso_total_tienda_4 = tienda_4['Precio'].sum()
print(f"El ingreso total de la Tienda 4 es: ${ingreso_total_tienda_4:,.2f}")

print("\n--- Ingresos Totales Calculados ---")

# Para facilitar comparaciones posteriores, podemos guardar estos ingresos en un diccionario o una lista.
ingresos_por_tienda = {
    'Tienda 1': ingreso_total_tienda_1,
    'Tienda 2': ingreso_total_tienda_2,
    'Tienda 3': ingreso_total_tienda_3,
    'Tienda 4': ingreso_total_tienda_4
}

# Puedes imprimir el diccionario para ver un resumen organizado.
print("\nResumen de Ingresos Totales:")
for tienda, ingreso in ingresos_por_tienda.items():
    print(f"{tienda}: ${ingreso:,.2f}")

--- Calculando Ingresos Totales por Tienda ---
El ingreso total de la Tienda 1 es: $1,150,880,400.00
El ingreso total de la Tienda 2 es: $1,116,343,500.00
El ingreso total de la Tienda 3 es: $1,098,019,600.00
El ingreso total de la Tienda 4 es: $1,038,375,700.00

--- Ingresos Totales Calculados ---

Resumen de Ingresos Totales:
Tienda 1: $1,150,880,400.00
Tienda 2: $1,116,343,500.00
Tienda 3: $1,098,019,600.00
Tienda 4: $1,038,375,700.00

## Explicación de lo que acabamos de hacer:

### 1-Seleccionar la columna 'Precio':
 En cada DataFrame (tienda_1, tienda_2, etc.), la columna que contiene el valor de las ventas se llama Precio. Para acceder a ella, usamos la notación de corchetes, por ejemplo, **tienda_1['Precio']**. Esto nos devuelve una "Serie" de pandas, que es como una sola columna de la tabla.

### 2-Sumar los valores (.sum()):
 Una vez que tenemos la columna 'Precio', simplemente aplicamos el método .sum() a esa Serie. Este método hace exactamente lo que su nombre indica: suma todos los números que contiene.

### 3-Almacenar el resultado:
 Guardamos el resultado de la suma en una variable (por ejemplo, ingreso_total_tienda_1) para poder usarlo más tarde.

### 4-Imprimir el resultado:
 Usamos una f-string (una forma sencilla de formatear texto con variables en Python) para mostrar el resultado de manera clara. El :,.2f dentro de la f-string es un formato especial que hace dos cosas:
, : Agrega comas como separadores de miles para que el número sea más fácil de leer (ej. 1,234,567.89).
.2f : Limita el número a dos decimales. Esto es útil para valores monetarios.

### 5-Crear un diccionario de ingresos:
 Almacenamos todos los ingresos calculados en un diccionario de Python. Un diccionario es una colección de pares clave: valor. En este caso, la clave es el nombre de la tienda (ej. 'Tienda 1') y el valor es su ingreso total. Esto es útil para tener un resumen fácil de acceder y comparar.
Ahora tenemos los ingresos totales de cada tienda. Esto nos da una primera idea de cuál es la tienda con mayor facturación.

El siguiente paso en tu desafío es calcular la cantidad de productos vendidos por categoría en cada tienda. ¡Avísame cuando estés listo para pasar a ello!

¡Genial! Ya tenemos los ingresos totales de cada tienda, y vemos claramente que la Tienda 1 es la que más ingresos ha generado hasta ahora.

Ahora, pasemos al siguiente análisis: calcular la cantidad de productos vendidos por categoría en cada tienda. Esto nos ayudará a entender qué tipos de productos son los más populares en cada sucursal.

### Cantidad de productos vendidos por categoría
Para lograr esto, vamos a agrupar los datos de cada tienda por la columna Categoría del Producto y luego contaremos cuántas veces aparece cada categoría.

Aquí tienes el código con los comentarios para que lo sigas paso a paso:

# 2. Ventas por categoría

In [23]:
print("Primeras filas de Tienda 1:")
tienda_1.head(2)

Primeras filas de Tienda 1:

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359

In [25]:
# --- 2. Productos vendidos por Categoría ---

print("\n--- Analizando Cantidad de Productos Vendidos por Categoría ---")

# Para la Tienda 1:
# Seleccionamos la columna 'Categoría del Producto' en el DataFrame 'tienda_1'.
# Luego, usamos `.value_counts()`. Esta función cuenta cuántas veces aparece cada valor único en una columna.
# Es perfecta para ver la distribución de las categorías.
productos_por_categoria_tienda_1 = tienda_1['Categoría del Producto'].value_counts()
print("\nProductos por categoría en Tienda 1:")
print(productos_por_categoria_tienda_1) # Imprime la Serie resultante, mostrando cada categoría y su conteo.



# Opcional: Si quieres ver las categorías más vendidas en una sola vista para todas las tiendas, podrías hacer algo como:
# print("\nCategorías más vendidas (Top 3) por Tienda:")
# print(f"Tienda 1: {productos_por_categoria_tienda_1.head(3).index.tolist()}")
# print(f"Tienda 2: {productos_por_categoria_tienda_2.head(3).index.tolist()}")
# print(f"Tienda 3: {productos_por_categoria_tienda_3.head(3).index.tolist()}")
# print(f"Tienda 4: {productos_por_categoria_tienda_4.head(3).index.tolist()}")

--- Analizando Cantidad de Productos Vendidos por Categoría ---

Productos por categoría en Tienda 1:
Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

In [26]:
# Para la Tienda 2:
productos_por_categoria_tienda_2 = tienda_2['Categoría del Producto'].value_counts()
print("\nProductos por categoría en Tienda 2:")
print(productos_por_categoria_tienda_2)

Productos por categoría en Tienda 2:
Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64

In [27]:
# Para la Tienda 3:
productos_por_categoria_tienda_3 = tienda_3['Categoría del Producto'].value_counts()
print("\nProductos por categoría en Tienda 3:")
print(productos_por_categoria_tienda_3)

Productos por categoría en Tienda 3:
Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Instrumentos musicales     177
Artículos para el hogar    177
Name: count, dtype: int64

In [28]:
# Para la Tienda 4:
productos_por_categoria_tienda_4 = tienda_4['Categoría del Producto'].value_counts()
print("\nProductos por categoría en Tienda 4:")
print(productos_por_categoria_tienda_4)

print("\n--- Análisis de Categorías Completado ---")

Productos por categoría en Tienda 4:
Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64

--- Análisis de Categorías Completado ---

## Explicación del paso a paso:

### Seleccionar la columna de interés:
 Al igual que con el 'Precio', tomamos la columna Categoría del Producto de cada DataFrame.

### Contar valores únicos (.value_counts()):
 Esta es la magia de Pandas aquí. El método .value_counts() es increíblemente útil. Recorre toda la columna y cuenta cuántas veces aparece cada valor único. Por ejemplo, si en la columna Categoría del Producto aparece "Electrónicos" 500 veces, .value_counts() te dirá que "Electrónicos" tiene un conteo de 500.

### Imprimir resultados:
 Mostramos los resultados para cada tienda. Verás una lista de categorías y, al lado de cada una, el número de productos vendidos dentro de esa categoría. Los resultados se ordenan automáticamente de la categoría más frecuente a la menos frecuente.

Con esta información, el Sr. Juan podrá ver rápidamente qué categorías de productos son las más populares en cada una de sus tiendas. Esto es clave para entender las preferencias de los clientes y la especialización (si la hay) de cada sucursal.

¿Listo para calcular la calificación promedio de los clientes para cada tienda? ¡Así podremos ver la satisfacción del cliente!

In [29]:
# Opcional: Si quieres ver las categorías más vendidas en una sola vista para todas las tiendas, podrías hacer algo como:
print("\nCategorías más vendidas (Top 3) por Tienda:")
print(f"Tienda 1: {productos_por_categoria_tienda_1.head(3).index.tolist()}")
print(f"Tienda 2: {productos_por_categoria_tienda_2.head(3).index.tolist()}")
print(f"Tienda 3: {productos_por_categoria_tienda_3.head(3).index.tolist()}")
print(f"Tienda 4: {productos_por_categoria_tienda_4.head(3).index.tolist()}")

Categorías más vendidas (Top 3) por Tienda:
Tienda 1: ['Muebles', 'Electrónicos', 'Juguetes']
Tienda 2: ['Muebles', 'Electrónicos', 'Juguetes']
Tienda 3: ['Muebles', 'Electrónicos', 'Juguetes']
Tienda 4: ['Muebles', 'Electrónicos', 'Juguetes']

# 3. Calificación promedio de la tienda

¡Perfecto! Ya tenemos los ingresos y las categorías de productos más vendidas. Ahora vamos a la calificación promedio de los clientes para cada tienda, un dato crucial para entender la satisfacción de los compradores.

Calificación Promedio de los Clientes
Para esto, nos enfocaremos en la columna Calificación y calcularemos su promedio (.mean()) para cada una de las tiendas.

Aquí tienes el código con las explicaciones:

In [31]:
tienda_1.head(2)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359

In [30]:
# --- 3. Calificación Promedio de la Tienda ---

print("\n--- Calculando la Calificación Promedio de los Clientes por Tienda ---")

# Para la Tienda 1:
# Seleccionamos la columna 'Calificación' del DataFrame 'tienda_1'.
# Usamos el método '.mean()', que calcula el promedio (la media aritmética) de todos los números en esa columna.
calificacion_promedio_tienda_1 = tienda_1['Calificación'].mean()
print(f"La calificación promedio de la Tienda 1 es: {calificacion_promedio_tienda_1:.2f}") # Imprimimos el resultado con 2 decimales para mayor claridad.

# Para la Tienda 2:
calificacion_promedio_tienda_2 = tienda_2['Calificación'].mean()
print(f"La calificación promedio de la Tienda 2 es: {calificacion_promedio_tienda_2:.2f}")

# Para la Tienda 3:
calificacion_promedio_tienda_3 = tienda_3['Calificación'].mean()
print(f"La calificación promedio de la Tienda 3 es: {calificacion_promedio_tienda_3:.2f}")

# Para la Tienda 4:
calificacion_promedio_tienda_4 = tienda_4['Calificación'].mean()
print(f"La calificación promedio de la Tienda 4 es: {calificacion_promedio_tienda_4:.2f}")

print("\n--- Calificaciones Promedio Calculadas ---")

# También podemos guardar estos promedios en un diccionario para una fácil referencia.
calificaciones_por_tienda = {
    'Tienda 1': calificacion_promedio_tienda_1,
    'Tienda 2': calificacion_promedio_tienda_2,
    'Tienda 3': calificacion_promedio_tienda_3,
    'Tienda 4': calificacion_promedio_tienda_4
}

print("\nResumen de Calificaciones Promedio:")
for tienda, calificacion in calificaciones_por_tienda.items():
    print(f"{tienda}: {calificacion:.2f}")

--- Calculando la Calificación Promedio de los Clientes por Tienda ---
La calificación promedio de la Tienda 1 es: 3.98
La calificación promedio de la Tienda 2 es: 4.04
La calificación promedio de la Tienda 3 es: 4.05
La calificación promedio de la Tienda 4 es: 4.00

--- Calificaciones Promedio Calculadas ---

Resumen de Calificaciones Promedio:
Tienda 1: 3.98
Tienda 2: 4.04
Tienda 3: 4.05
Tienda 4: 4.00

## Explicación del paso a paso:

### Seleccionar la columna 'Calificación':
 De manera similar a los pasos anteriores, accedemos a la columna Calificación en cada uno de nuestros DataFrames. Esta columna contiene las puntuaciones que los clientes dieron a sus compras.

### Calcular el promedio (.mean()):
 El método .mean() de Pandas es perfecto para esto. Suma todos los valores en la columna Calificación y luego los divide por el número total de calificaciones, dándonos el promedio.

### Imprimir y resumir:
 Mostramos la calificación promedio para cada tienda, redondeada a dos decimales (:.2f) para que sea más fácil de leer. Finalmente, recopilamos estos promedios en un diccionario para tener un resumen claro y conciso de la satisfacción del cliente por tienda.
 
Con estos promedios, el Sr. Juan puede identificar rápidamente qué tiendas tienen clientes más satisfechos y cuáles podrían necesitar mejorar su servicio o la calidad de sus productos.

¿Estás listo para el siguiente paso? Ahora vamos a identificar los productos más y menos vendidos en cada tienda. ¡Esto nos dará una visión detallada del inventario y la demanda!

# 4. Productos más y menos vendidos

¡Dale! No necesito más información por ahora. Con los DataFrames cargados y la salida que me diste antes, ya tengo todo para seguir.

Ahora vamos a identificar los productos más y menos vendidos en cada tienda. Esto es clave para el Sr. Juan, ya que le dará una idea muy clara de qué productos tienen éxito y cuáles no tanto.

Productos Más y Menos Vendidos
Para este análisis, vamos a contar las ocurrencias de cada Producto en la columna Producto de cada DataFrame, similar a cómo lo hicimos con las categorías. Luego, tomaremos los primeros y últimos elementos de esos conteos para identificar los más y menos vendidos.

Aquí tienes el código con las explicaciones:

In [32]:
tienda_1.head(2)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359

In [33]:
# --- 4. Productos Más y Menos Vendidos ---

print("\n--- Identificando Productos Más y Menos Vendidos por Tienda ---")

# Para la Tienda 1:
# Contamos la frecuencia de cada producto.
conteo_productos_tienda_1 = tienda_1['Producto'].value_counts()
print("\nTop 5 Productos Más Vendidos en Tienda 1:")
print(conteo_productos_tienda_1.head(5)) # .head(5) nos da los 5 productos con el mayor conteo.
print("\nTop 5 Productos Menos Vendidos en Tienda 1:")
print(conteo_productos_tienda_1.tail(5)) # .tail(5) nos da los 5 productos con el menor conteo.

--- Identificando Productos Más y Menos Vendidos por Tienda ---

Top 5 Productos Más Vendidos en Tienda 1:
Producto
TV LED UHD 4K              60
Armario                    60
Microondas                 60
Secadora de ropa           58
Bloques de construcción    56
Name: count, dtype: int64

Top 5 Productos Menos Vendidos en Tienda 1:
Producto
Ciencia de datos con Python    39
Pandereta                      36
Olla de presión                35
Auriculares con micrófono      33
Celular ABXY                   33
Name: count, dtype: int64

In [34]:
# Para la Tienda 2:
conteo_productos_tienda_2 = tienda_2['Producto'].value_counts()
print("\nTop 5 Productos Más Vendidos en Tienda 2:")
print(conteo_productos_tienda_2.head(5))
print("\nTop 5 Productos Menos Vendidos en Tienda 2:")
print(conteo_productos_tienda_2.tail(5))

Top 5 Productos Más Vendidos en Tienda 2:
Producto
Iniciando en programación    65
Microondas                   62
Batería                      61
Guitarra acústica            58
Pandereta                    58
Name: count, dtype: int64

Top 5 Productos Menos Vendidos en Tienda 2:
Producto
Auriculares        37
Sillón             35
Mesa de comedor    34
Impresora          34
Juego de mesa      32
Name: count, dtype: int64

In [35]:
# Para la Tienda 3:
conteo_productos_tienda_3 = tienda_3['Producto'].value_counts()
print("\nTop 5 Productos Más Vendidos en Tienda 3:")
print(conteo_productos_tienda_3.head(5))
print("\nTop 5 Productos Menos Vendidos en Tienda 3:")
print(conteo_productos_tienda_3.tail(5))

Top 5 Productos Más Vendidos en Tienda 3:
Producto
Kit de bancas      57
Cama king          56
Mesa de comedor    56
Set de ollas       55
Mesa de noche      55
Name: count, dtype: int64

Top 5 Productos Menos Vendidos en Tienda 3:
Producto
Guitarra eléctrica         38
Mochila                    36
Microondas                 36
Set de vasos               36
Bloques de construcción    35
Name: count, dtype: int64

In [36]:
# Para la Tienda 4:
conteo_productos_tienda_4 = tienda_4['Producto'].value_counts()
print("\nTop 5 Productos Más Vendidos en Tienda 4:")
print(conteo_productos_tienda_4.head(5))
print("\nTop 5 Productos Menos Vendidos en Tienda 4:")
print(conteo_productos_tienda_4.tail(5))

print("\n--- Análisis de Productos Más y Menos Vendidos Completado ---")

Top 5 Productos Más Vendidos en Tienda 4:
Producto
Cama box                   62
Cubertería                 59
Dashboards con Power BI    56
Cama king                  56
Mesa de noche              55
Name: count, dtype: int64

Top 5 Productos Menos Vendidos en Tienda 4:
Producto
Lavadora de ropa               38
Ciencia de datos con Python    38
Guitarra acústica              37
Armario                        34
Guitarra eléctrica             33
Name: count, dtype: int64

--- Análisis de Productos Más y Menos Vendidos Completado ---

## Explicación del paso a paso:

### Contar la frecuencia de productos (.value_counts()):
 Al igual que con las categorías, usamos tienda_X['Producto'].value_counts(). Esto nos devuelve una lista de todos los productos y cuántas veces se vendió cada uno, ordenados de mayor a menor venta.

### Identificar los más vendidos (.head(5)):
 Una vez que tenemos la lista ordenada, el método .head(5) nos permite tomar las primeras 5 filas de esa lista, que corresponden a los 5 productos más vendidos.

### Identificar los menos vendidos (.tail(5)):
 De forma similar, el método .tail(5) nos da las últimas 5 filas, que son los 5 productos menos vendidos.
Este análisis es muy valioso para el Sr. Juan, ya que le muestra qué productos tienen una alta demanda y cuáles podrían no estar funcionando bien, lo que le ayudará a tomar decisiones sobre el inventario y las posibles ofertas futuras.

¿Listo para el último cálculo antes de pasar a la visualización y la recomendación final? Ahora vamos a calcular el costo de envío promedio para cada tienda.

# 5. Envío promedio por tienda

¡Excelente! Vamos por el último cálculo antes de pasar a la visualización y la recomendación final. Ahora calcularemos el costo de envío promedio para cada tienda. Esto es importante para entender los gastos operativos.

Costo de Envío Promedio
Para este análisis, vamos a tomar la columna Costo de envío de cada DataFrame y calcularemos su promedio.

Aquí tienes el código con las explicaciones paso a paso:

In [37]:
tienda_1.head(2)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359

In [38]:
# --- 5. Costo de Envío Promedio por Tienda ---

print("\n--- Calculando el Costo de Envío Promedio por Tienda ---")

# Para la Tienda 1:
# Accedemos a la columna 'Costo de envío' del DataFrame 'tienda_1'.
# Usamos el método '.mean()' para calcular el promedio de todos los costos de envío.
costo_envio_promedio_tienda_1 = tienda_1['Costo de envío'].mean()
print(f"El costo de envío promedio de la Tienda 1 es: ${costo_envio_promedio_tienda_1:,.2f}") # Imprimimos el resultado formateado a 2 decimales.

--- Calculando el Costo de Envío Promedio por Tienda ---
El costo de envío promedio de la Tienda 1 es: $26,018.61

In [39]:
# Para la Tienda 2:
costo_envio_promedio_tienda_2 = tienda_2['Costo de envío'].mean()
print(f"El costo de envío promedio de la Tienda 2 es: ${costo_envio_promedio_tienda_2:,.2f}")

El costo de envío promedio de la Tienda 2 es: $25,216.24

In [40]:
# Para la Tienda 3:
costo_envio_promedio_tienda_3 = tienda_3['Costo de envío'].mean()
print(f"El costo de envío promedio de la Tienda 3 es: ${costo_envio_promedio_tienda_3:,.2f}")

El costo de envío promedio de la Tienda 3 es: $24,805.68

In [41]:
# Para la Tienda 4:
costo_envio_promedio_tienda_4 = tienda_4['Costo de envío'].mean()
print(f"El costo de envío promedio de la Tienda 4 es: ${costo_envio_promedio_tienda_4:,.2f}")

print("\n--- Costos de Envío Promedio Calculados ---")

El costo de envío promedio de la Tienda 4 es: $23,459.46

--- Costos de Envío Promedio Calculados ---

In [42]:
# Almacenamos los resultados en un diccionario para un resumen fácil.
costos_envio_por_tienda = {
    'Tienda 1': costo_envio_promedio_tienda_1,
    'Tienda 2': costo_envio_promedio_tienda_2,
    'Tienda 3': costo_envio_promedio_tienda_3,
    'Tienda 4': costo_envio_promedio_tienda_4
}

print("\nResumen de Costos de Envío Promedio:")
for tienda, costo in costos_envio_por_tienda.items():
    print(f"{tienda}: ${costo:,.2f}")

Resumen de Costos de Envío Promedio:
Tienda 1: $26,018.61
Tienda 2: $25,216.24
Tienda 3: $24,805.68
Tienda 4: $23,459.46

## Explicación del paso a paso:

### Seleccionar la columna 'Costo de envío':
 Similar a los pasos anteriores, nos enfocamos en la columna que contiene los costos de envío individuales para cada transacción.

### Calcular el promedio (.mean()):
 Aplicamos el método .mean() a esta columna para obtener el costo promedio de envío por cada tienda.

### Imprimir y resumir:
 Mostramos los resultados formateados para una lectura clara y los almacenamos en un diccionario para tener una vista rápida de estos gastos.
¡Hemos completado todos los análisis numéricos! Ahora tenemos la siguiente información clave para cada tienda:

* Ingresos totales

* Cantidad de productos vendidos por categoría (para identificar las categorías más y menos populares) 

* Calificación promedio de los clientes

* Productos más y menos vendidos

* Costo de envío promedio

El siguiente y crucial paso es crear visualizaciones (gráficos) para presentar estos resultados de forma clara y visual, y finalmente, escribir la recomendación para el Sr. Juan.

¿Te gustaría que empecemos con los gráficos ahora? Recuerda que necesitamos al menos 3 tipos diferentes de gráficos.

# ¡Clarísimo! ¡Vamos a darle vida a estos datos con unos buenos gráficos!

Para este desafío, la visualización es clave. Nos permitirá a nosotros y al Sr. Juan comparar rápidamente el rendimiento de cada tienda en las métricas que hemos calculado.

Vamos a generar al menos 3 gráficos diferentes, que complementen nuestro análisis. Aquí tienes algunas ideas de lo que podemos graficar:

### Ingresos Totales por Tienda:
 Un gráfico de barras es ideal para comparar los ingresos de cada tienda directamente.

### Calificación Promedio de Clientes:
 Otro gráfico de barras o un gráfico de puntos podría mostrar la satisfacción de los clientes.

### Distribución de Categorías de Productos:
 Un gráfico de barras apiladas (si queremos comparar las categorías principales entre tiendas) o gráficos circulares individuales para las categorías más vendidas en cada tienda.

### Costo de Envío Promedio:
 Un gráfico de barras también funcionaría bien para comparar este gasto.
 
Empecemos importando la librería matplotlib.pyplot que es el estándar para crear gráficos en Python, y luego haremos el primer gráfico.

Preparando los Datos para los Gráficos
Primero, para que sea más fácil graficar, vamos a consolidar la información clave que calculamos en DataFrames o Series, y luego usaremos esas estructuras para dibujar.

In [43]:
import matplotlib.pyplot as plt # Importa la librería Matplotlib, específicamente el módulo pyplot, y le asigna el alias 'plt'. Esta es la librería principal para crear gráficos en Python.

# Datos de ingresos (ya calculados y almacenados en un diccionario en el paso anterior)
# Convertimos el diccionario 'ingresos_por_tienda' en una Serie de Pandas para facilitar el trazado.
ingresos_totales_df = pd.Series(ingresos_por_tienda)

# Datos de calificaciones (ya calculados y almacenados)
calificaciones_promedio_df = pd.Series(calificaciones_por_tienda)

# Datos de costos de envío (ya calculados y almacenados)
costos_envio_promedio_df = pd.Series(costos_envio_por_tienda)

print("Datos listos para graficar:")
print("\nIngresos Totales:")
print(ingresos_totales_df)
print("\nCalificaciones Promedio:")
print(calificaciones_promedio_df)
print("\nCostos de Envío Promedio:")
print(costos_envio_promedio_df)

Datos listos para graficar:

Ingresos Totales:
Tienda 1    1.150880e+09
Tienda 2    1.116344e+09
Tienda 3    1.098020e+09
Tienda 4    1.038376e+09
dtype: float64

Calificaciones Promedio:
Tienda 1    3.976685
Tienda 2    4.037304
Tienda 3    4.048326
Tienda 4    3.995759
dtype: float64

Costos de Envío Promedio:
Tienda 1    26018.609580
Tienda 2    25216.235693
Tienda 3    24805.680373
Tienda 4    23459.457167
dtype: float64