Gemini:  ayudame con este dasafio: Telecom X es una empresa de telecomunicaciones y has sido contratado como analista de datos para trabajar en un proyecto específico de Churn de clientes. La empresa está enfrentando un alto índice de evasión de clientes y aún no han identificado el problema de esta evasión. Para ello, te han proporcionado algunos datos en los que tendrás que buscar, tratar y realizar un análisis exploratorio para, una vez limpiados estos datos, poder proporcionárselos al equipo de ciencia de datos. De esta manera, podrán realizar un análisis predictivo y determinar de dónde proviene esta evasión de clientes. este es el cuaderno base:
 📌 Extracción

🔧 Transformación

📊 Carga y análisis

📄Informe final 
y esto es una pequeña parte del archivo TelecomX_Data.json que tengo para relizar el dasafio: [{"customerID":"0002-ORFBO","Churn":"No","customer":{"gender":"Female","SeniorCitizen":0,"Partner":"Yes","Dependents":"Yes","tenure":9},"phone":{"PhoneService":"Yes","MultipleLines":"No"},"internet":{"InternetService":"DSL","OnlineSecurity":"No","OnlineBackup":"Yes","DeviceProtection":"No","TechSupport":"Yes","StreamingTV":"Yes","StreamingMovies":"No"},"account":{"Contract":"One year","PaperlessBilling":"Yes","PaymentMethod":"Mailed check","Charges":{"Monthly":65.6,"Total":"593.3"}}},{"customerID":"0003-MKNFE","Churn":"No","customer":{"gender":"Male","SeniorCitizen":0,"Partner":"No","Dependents":"No","tenure":9},"phone":{"PhoneService":"Yes","MultipleLines":"Yes"},"internet":{"InternetService":"DSL", Vayamos paso a paso , primero con la extraccion, te voy pasando la salidas y luego seguimos con la transformacion ,carga y analisis y asi sucesivamente . Te dejo el diccionario: #### Diccionario de datos

- `customerID`: número de identificación único de cada cliente

- `Churn`: si el cliente dejó o no la empresa

- `gender`: género (masculino y femenino)

- `SeniorCitizen`: información sobre si un cliente tiene o no una edad igual o mayor a 65 años

- `Partner`: si el cliente tiene o no una pareja

- `Dependents`: si el cliente tiene o no dependientes

- `tenure`: meses de contrato del cliente

- `PhoneService`: suscripción al servicio telefónico

- `MultipleLines`: suscripción a más de una línea telefónica

- `InternetService`: suscripción a un proveedor de internet

- `OnlineSecurity`: suscripción adicional de seguridad en línea

- `OnlineBackup`: suscripción adicional de respaldo en línea

- `DeviceProtection`: suscripción adicional de protección del dispositivo

- `TechSupport`: suscripción adicional de soporte técnico, menor tiempo de espera

- `StreamingTV`: suscripción de televisión por cable

- `StreamingMovies`: suscripción de streaming de películas

- `Contract`: tipo de contrato

- `PaperlessBilling`: si el cliente prefiere recibir la factura en línea

- `PaymentMethod`: forma de pago

- `Charges.Monthly`: total de todos los servicios del cliente por mes

- `Charges.Total`: total gastado por el cliente

#📌 Extracción

In [4]:
import pandas as pd
import json

# Especifica la ruta a tu archivo JSON
ruta_archivo = '../data/TelecomX_Data.json'

# Abre el archivo JSON y carga los datos
with open(ruta_archivo, 'r') as f:
    data = json.load(f)

# Como el JSON que mostraste parece ser una lista de diccionarios,
# podemos directamente crear un DataFrame a partir de esa lista.
df = pd.DataFrame(data)

# Vamos a ver las primeras filas del DataFrame para verificar la extracción
print(df.head())

   customerID Churn                                           customer  \
0  0002-ORFBO    No  {'gender': 'Female', 'SeniorCitizen': 0, 'Part...
1  0003-MKNFE    No  {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
2  0004-TLHLJ   Yes  {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
3  0011-IGKFF   Yes  {'gender': 'Male', 'SeniorCitizen': 1, 'Partne...
4  0013-EXCHZ   Yes  {'gender': 'Female', 'SeniorCitizen': 1, 'Part...

                                             phone  \
0   {'PhoneService': 'Yes', 'MultipleLines': 'No'}
1  {'PhoneService': 'Yes', 'MultipleLines': 'Yes'}
2   {'PhoneService': 'Yes', 'MultipleLines': 'No'}
3   {'PhoneService': 'Yes', 'MultipleLines': 'No'}
4   {'PhoneService': 'Yes', 'MultipleLines': 'No'}

                                            internet  \
0  {'InternetService': 'DSL', 'OnlineSecurity': '...
1  {'InternetService': 'DSL', 'OnlineSecurity': '...
2  {'InternetService': 'Fiber optic', 'OnlineSecu...
3  {'InternetService': 'Fiber optic', 'OnlineSecu...
4  {'InternetService': 'Fiber optic', 'OnlineSecu...

                                             account
0  {'Contract': 'One year', 'PaperlessBilling': '...
1  {'Contract': 'Month-to-month', 'PaperlessBilli...
2  {'Contract': 'Month-to-month', 'PaperlessBilli...
3  {'Contract': 'Month-to-month', 'PaperlessBilli...
4  {'Contract': 'Month-to-month', 'PaperlessBilli...

Antes de aplanar los diccionarios, una práctica común en la Transformación es echar un vistazo a la información general del DataFrame para entender mejor su estructura y los tipos de datos de cada columna. Esto nos puede dar pistas sobre posibles problemas o la necesidad de realizar alguna conversión antes de continuar.

Podríamos usar el método .info() de Pandas para obtener un resumen del DataFrame. ¿Te parece si hacemos eso primero? Así tendremos una visión general antes de meternos con los diccionarios anidados.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

¡Gracias por la salida!

Como vemos, todas las columnas tienen el tipo de dato 'object', lo cual es esperado ya que cargamos datos desde un JSON. También vemos que no hay valores nulos en ninguna de las columnas (Non-Null Count es igual al RangeIndex).

Ahora sí, podemos proceder con la transformación de las columnas que contienen diccionarios anidados. Empecemos por la columna customer.

Para extraer la información del diccionario en la columna 'customer' y convertirla en columnas separadas, podemos usar el método .apply(pd.Series).

#🔧 Transformación

In [6]:
df_customer = df['customer'].apply(pd.Series)
print(df_customer.head())

   gender  SeniorCitizen Partner Dependents  tenure
0  Female              0     Yes        Yes       9
1    Male              0      No         No       9
2    Male              0      No         No       4
3    Male              1     Yes         No      13
4  Female              1     Yes         No       3

¡Exactamente! Esto ya es parte de la Transformación. Estamos tomando la información que estaba contenida dentro de la columna 'customer' (que era un diccionario para cada fila) y la estamos expandiendo a nuevas columnas en un formato más fácil de analizar.

Una vez que tengamos este DataFrame df_customer, lo uniremos al DataFrame principal df y probablemente eliminaremos la columna original 'customer' para evitar redundancia.

¿Viste la salida de df_customer.head()? Si la tienes, podemos continuar con la unión de los DataFrames.

¡Perfecto! Ahora tenemos la información del cliente en un DataFrame separado (df_customer). El siguiente paso es unir este DataFrame con el DataFrame principal (df) y luego eliminar la columna original 'customer' ya que la información ahora estará en columnas separadas.

In [7]:
# Unir df con df_customer usando el índice como clave
df = pd.concat([df, df_customer], axis=1)

# Eliminar la columna original 'customer'
df.drop('customer', axis=1, inplace=True)

# Ver las primeras filas del DataFrame resultante
print(df.head())

   customerID Churn                                            phone  \
0  0002-ORFBO    No   {'PhoneService': 'Yes', 'MultipleLines': 'No'}
1  0003-MKNFE    No  {'PhoneService': 'Yes', 'MultipleLines': 'Yes'}
2  0004-TLHLJ   Yes   {'PhoneService': 'Yes', 'MultipleLines': 'No'}
3  0011-IGKFF   Yes   {'PhoneService': 'Yes', 'MultipleLines': 'No'}
4  0013-EXCHZ   Yes   {'PhoneService': 'Yes', 'MultipleLines': 'No'}

                                            internet  \
0  {'InternetService': 'DSL', 'OnlineSecurity': '...
1  {'InternetService': 'DSL', 'OnlineSecurity': '...
2  {'InternetService': 'Fiber optic', 'OnlineSecu...
3  {'InternetService': 'Fiber optic', 'OnlineSecu...
4  {'InternetService': 'Fiber optic', 'OnlineSecu...

                                             account  gender  SeniorCitizen  \
0  {'Contract': 'One year', 'PaperlessBilling': '...  Female              0
1  {'Contract': 'Month-to-month', 'PaperlessBilli...    Male              0
2  {'Contract': 'Month-to-month', 'PaperlessBilli...    Male              0
3  {'Contract': 'Month-to-month', 'PaperlessBilli...    Male              1
4  {'Contract': 'Month-to-month', 'PaperlessBilli...  Female              1

  Partner Dependents  tenure
0     Yes        Yes       9
1      No         No       9
2      No         No       4
3     Yes         No      13
4     Yes         No       3

¡Excelente! Vemos que las columnas de 'gender', 'SeniorCitizen', 'Partner', 'Dependents' y 'tenure' se han añadido correctamente al DataFrame y la columna 'customer' ha desaparecido.

Ahora, el siguiente paso sería hacer lo mismo con las otras columnas que contienen diccionarios: 'phone', 'internet' y 'account'.

### Procesando la columna 'phone':

In [8]:
df_phone = df['phone'].apply(pd.Series)
df = pd.concat([df, df_phone], axis=1)
df.drop('phone', axis=1, inplace=True)
print("DataFrame después de procesar 'phone':")
print(df.head())

DataFrame después de procesar 'phone':
   customerID Churn                                           internet  \
0  0002-ORFBO    No  {'InternetService': 'DSL', 'OnlineSecurity': '...
1  0003-MKNFE    No  {'InternetService': 'DSL', 'OnlineSecurity': '...
2  0004-TLHLJ   Yes  {'InternetService': 'Fiber optic', 'OnlineSecu...
3  0011-IGKFF   Yes  {'InternetService': 'Fiber optic', 'OnlineSecu...
4  0013-EXCHZ   Yes  {'InternetService': 'Fiber optic', 'OnlineSecu...

                                             account  gender  SeniorCitizen  \
0  {'Contract': 'One year', 'PaperlessBilling': '...  Female              0
1  {'Contract': 'Month-to-month', 'PaperlessBilli...    Male              0
2  {'Contract': 'Month-to-month', 'PaperlessBilli...    Male              0
3  {'Contract': 'Month-to-month', 'PaperlessBilli...    Male              1
4  {'Contract': 'Month-to-month', 'PaperlessBilli...  Female              1

  Partner Dependents  tenure PhoneService MultipleLines
0     Yes        Yes       9          Yes            No
1      No         No       9          Yes           Yes
2      No         No       4          Yes            No
3     Yes         No      13          Yes            No
4     Yes         No       3          Yes            No

### Procesando la columna 'internet':

In [9]:
df_internet = df['internet'].apply(pd.Series)
df = pd.concat([df, df_internet], axis=1)
df.drop('internet', axis=1, inplace=True)
print("\nDataFrame después de procesar 'internet':")
print(df.head())

DataFrame después de procesar 'internet':
   customerID Churn                                            account  \
0  0002-ORFBO    No  {'Contract': 'One year', 'PaperlessBilling': '...
1  0003-MKNFE    No  {'Contract': 'Month-to-month', 'PaperlessBilli...
2  0004-TLHLJ   Yes  {'Contract': 'Month-to-month', 'PaperlessBilli...
3  0011-IGKFF   Yes  {'Contract': 'Month-to-month', 'PaperlessBilli...
4  0013-EXCHZ   Yes  {'Contract': 'Month-to-month', 'PaperlessBilli...

   gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  Female              0     Yes        Yes       9          Yes
1    Male              0      No         No       9          Yes
2    Male              0      No         No       4          Yes
3    Male              1     Yes         No      13          Yes
4  Female              1     Yes         No       3          Yes

  MultipleLines InternetService OnlineSecurity OnlineBackup DeviceProtection  \
0            No             DSL             No          Yes               No
1           Yes             DSL             No           No               No
2            No     Fiber optic             No           No              Yes
3            No     Fiber optic             No          Yes              Yes
4            No     Fiber optic             No           No               No

  TechSupport StreamingTV StreamingMovies
0         Yes         Yes              No
1          No          No             Yes
2          No          No              No
3          No         Yes             Yes
4         Yes         Yes              No

### Procesando la columna 'account':

La columna 'account' tiene una subcolumna llamada 'Charges' que también es un diccionario. Vamos a extraer primero el contenido principal de 'account' y luego la información de 'Charges'.

In [10]:
df_account = df['account'].apply(pd.Series)
df = pd.concat([df, df_account], axis=1)
df.drop('account', axis=1, inplace=True)

# Ahora procesamos la subcolumna 'Charges'
df_charges = df['Charges'].apply(pd.Series)
df = pd.concat([df, df_charges], axis=1)
df.drop('Charges', axis=1, inplace=True)

print("\nDataFrame después de procesar 'account' y 'Charges':")
print(df.head())

DataFrame después de procesar 'account' y 'Charges':
   customerID Churn  gender  SeniorCitizen Partner Dependents  tenure  \
0  0002-ORFBO    No  Female              0     Yes        Yes       9
1  0003-MKNFE    No    Male              0      No         No       9
2  0004-TLHLJ   Yes    Male              0      No         No       4
3  0011-IGKFF   Yes    Male              1     Yes         No      13
4  0013-EXCHZ   Yes  Female              1     Yes         No       3

  PhoneService MultipleLines InternetService  ... OnlineBackup  \
0          Yes            No             DSL  ...          Yes
1          Yes           Yes             DSL  ...           No
2          Yes            No     Fiber optic  ...           No
3          Yes            No     Fiber optic  ...          Yes
4          Yes            No     Fiber optic  ...           No

  DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
0               No         Yes         Yes              No        One year
1               No          No          No             Yes  Month-to-month
2              Yes          No          No              No  Month-to-month
3              Yes          No         Yes             Yes  Month-to-month
4               No         Yes         Yes              No  Month-to-month

  PaperlessBilling     PaymentMethod Monthly    Total
0              Yes      Mailed check    65.6    593.3
1               No      Mailed check    59.9    542.4
2              Yes  Electronic check    73.9   280.85
3              Yes  Electronic check    98.0  1237.85
4              Yes      Mailed check    83.9    267.4

[5 rows x 21 columns]

¡Excelente! Parece que hemos aplanado con éxito las columnas 'phone', 'internet' y 'account' (incluyendo 'Charges'). Ahora tenemos muchas más columnas con información detallada sobre cada cliente.

El siguiente paso importante en la Transformación suele ser verificar los tipos de datos de las columnas y realizar las conversiones necesarias. Por ejemplo, la columna 'Total' de los cargos probablemente se leyó como texto y deberíamos convertirla a un tipo numérico para poder realizar cálculos.

También podríamos echar un vistazo a los valores únicos de algunas columnas categóricas para identificar posibles inconsistencias o errores de entrada.

¿Qué te parece si empezamos por revisar los tipos de datos con df.info() nuevamente?

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Monthly           7267 non-null   float64
 20  Total             7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

¡Gracias! Vemos que la mayoría de las columnas son de tipo 'object'. Las columnas 'SeniorCitizen' y 'tenure' son int64, y 'Monthly' es float64, lo cual parece correcto.

La columna que definitivamente necesita transformación es 'Total', que debería ser numérica pero se detecta como 'object'. Esto suele ocurrir cuando hay valores no numéricos en la columna.

Vamos a intentar convertir la columna 'Total' a numérico. Si hay algún valor que no se pueda convertir, Pandas generará un error, y tendremos que investigar esos valores.

In [12]:
df['Total'] = pd.to_numeric(df['Total'], errors='coerce')
print(df['Total'].dtype)

float64

¡Excelente! El tipo de dato de la columna 'Total' ahora es float64, lo que significa que la conversión a numérico fue exitosa (o al menos, los valores problemáticos se convirtieron a NaN).

Ahora sería bueno verificar si se introdujeron valores NaN durante esta conversión. Podemos hacerlo sumando la cantidad de valores nulos en la columna 'Total':

In [13]:
print(df['Total'].isnull().sum())

11

De acuerdo, hay 11 valores nulos en la columna 'Total'. Esto sugiere que había 11 filas con valores no numéricos en esa columna que fueron convertidos a NaN.

Para entender mejor estos casos, podríamos inspeccionar las filas donde 'Total' es nulo.

In [14]:
df[df['Total'].isnull()]

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Monthly,Total
975,1371-DWPAZ,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,NaN
1775,2520-SGTTA,No,Female,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,NaN
1955,2775-SEFEE,No,Male,0,No,Yes,0,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN
2075,2923-ARZLG,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,NaN
2232,3115-CZMZD,No,Male,0,No,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,NaN
2308,3213-VVOLG,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,NaN
2930,4075-WKNIU,No,Female,0,Yes,Yes,0,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,NaN
3134,4367-NUYAO,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,NaN
3203,4472-LVYGI,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,NaN
4169,5709-LVOEQ,No,Female,0,Yes,Yes,0,Yes,No,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,NaN
5599,7644-OMVMY,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,NaN

¡Gracias! Al observar estas filas donde 'Total' es NaN, notamos algo en común: la columna 'tenure' es 0 para todas ellas.

Esto sugiere que estos clientes tienen un contrato de cero meses. Si un cliente tiene un contrato de cero meses, es lógico que el cargo total sea también cero o nulo.

Podríamos imputar estos valores NaN en la columna 'Total' con 0, ya que parece la interpretación más coherente para los clientes con una antigüedad de 0 meses.

Ejecuta el siguiente código para reemplazar los NaN en 'Total' donde 'tenure' es 0:

In [15]:
df.loc[df['tenure'] == 0, 'Total'] = 0

Después de esto, vamos a verificar nuevamente la cantidad de valores nulos en 'Total':

In [16]:
print(df['Total'].isnull().sum())

0

¡Excelente! La cantidad de valores nulos en la columna 'Total' ahora es 0. Esto significa que hemos manejado con éxito los casos donde la antigüedad era cero y el total era NaN.

En este punto de la Transformación, hemos:

Aplanado las columnas anidadas ('customer', 'phone', 'internet', 'account' y 'Charges').
Convertido la columna 'Total' a un tipo numérico y manejado los valores nulos basados en la columna 'tenure'.
¿Qué te parece si ahora pasamos a la siguiente etapa: Carga y Análisis? En esta fase, podríamos empezar a explorar los datos limpios para buscar patrones o tendencias relevantes para la evasión de clientes (Churn).

#📊 Carga y análisis

#📄Informe final